.docker/
node_modules/
.DS_Store
public/assets/js/
public/assets/css/
public/assets/fonts/
.air/
.make_evidence/
dist/
gitea
gitea.exe
data/
.tmp/
logs/
/deploy/knowledge/.env
/deploy/knowledge/.runtime/
/deploy/knowledge/runtime/
/log/
indexers/
queues/
*.test
modules/migration/bindata.dat
modules/options/bindata.dat
modules/public/bindata.dat
modules/templates/bindata.dat
public/assets/licenses.txt
